# directories
.coverage_artifacts
.coverage_cache
.coverage_contracts
build
cache
coverage
dist
node_modules
typechain

packages/contracts/deployments
packages/contracts/.upgradable/
packages/contracts/createVersionProposalData*.json

packages/contracts/artifacts

packages/artifacts/src/abi.ts

docs

# files
*.env
*.log
.DS_Store
.pnp.*
coverage.json

artifacts-zk
cache-zk
deployments-zk
